In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/arun._.appulingam/code/marikhomeriki/product_review_analysis/raw_data/train.csv', header=None)

In [3]:
df.head()

   0                                                  1
0  1  Unfortunately, the frustration of being Dr. Go...
1  2  Been going to Dr. Goldberg for over 10 years. ...
2  1  I don't know what Dr. Goldberg was like before...
3  1  I'm writing this review to give you a heads up...
4  2  All the food is great here. But the best thing...

In [4]:
df = df.rename({0: 'label', 1: 'text'}, axis = 1)

In [5]:
df.head()

   label                                               text
0      1  Unfortunately, the frustration of being Dr. Go...
1      2  Been going to Dr. Goldberg for over 10 years. ...
2      1  I don't know what Dr. Goldberg was like before...
3      1  I'm writing this review to give you a heads up...
4      2  All the food is great here. But the best thing...

In [6]:
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from tensorflow.keras.preprocessing.text import Tokenizer
from nltk.stem import WordNetLemmatizer

In [7]:
def cleaning(sentence):
    
    # Basic cleaning
    sentence = sentence.strip() ## remove whitespaces
    sentence = sentence.lower() ## lowercase 
    sentence = ''.join(char for char in sentence if not char.isdigit()) ## remove numbers
    
    # Advanced cleaning
    for punctuation in string.punctuation:
        sentence = sentence.replace(punctuation, '') ## remove punctuation
    
    tokenized_sentence = word_tokenize(sentence) ## tokenize 
    stop_words = set(stopwords.words('english')) ## define stopwords
    
    tokenized_sentence_cleaned = [ ## remove stopwords
        w for w in tokenized_sentence if not w in stop_words
    ]

    lemmatized = [
        WordNetLemmatizer().lemmatize(word, pos = "v") 
        for word in tokenized_sentence_cleaned
    ]
    
    cleaned_sentence = ' '.join(word for word in lemmatized)
    
    return cleaned_sentence

In [8]:
df_cleaned = df["text"].apply(cleaning)
df_cleaned.head()

0    unfortunately frustration dr goldbergs patient...
1    go dr goldberg years think one st patients sta...
2    dont know dr goldberg like move arizona let te...
3    im write review give head see doctor office st...
4    food great best thing wing wing simply fantast...
Name: text, dtype: object

In [12]:
df_cleaned = pd.DataFrame(df_cleaned)

In [27]:
df_cleaned

                                                     text
0       unfortunately frustration dr goldbergs patient...
1       go dr goldberg years think one st patients sta...
2       dont know dr goldberg like move arizona let te...
3       im write review give head see doctor office st...
4       food great best thing wing wing simply fantast...
...                                                   ...
559995  ryan good everyone yelp claim courteous knowle...
559996  professional nfriendlynon time affordablenwe d...
559997  phone call always go voicemail message return ...
559998  look like good review go head place jason ryan...
559999  ryan rock call morning sprinkler help potentia...

[560000 rows x 1 columns]

In [19]:
X = df_cleaned["text"]

In [18]:
y = df["label"]

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

(560000, 1)

In [26]:
count_vectorizer = CountVectorizer()
text_vectorized = count_vectorizer.fit_transform(df_cleaned)

# Show the representations in a nice DataFrame
text_vectorized = pd.DataFrame(
    text_vectorized.toarray(),
#     columns = count_vectorizer.get_feature_names_out(),
    index = df_cleaned
)

# Show the vectorized movies
text_vectorized

ValueError: Shape of passed values is (1, 1), indices imply (560000, 1)