In [25]:

import pandas as pd
import os
import numpy as np
from wordcloud import WordCloud
from nltk.corpus import stopwords
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('/Users/marikhomeriki/code/marikhomeriki/product_review_analysis/raw_data/train_data/train.csv', header=None)
df_test = pd.read_csv('/Users/marikhomeriki/code/marikhomeriki/product_review_analysis/raw_data/test_data/test.csv', header=None)
df_test = df.rename({0: 'label', 1: 'text'}, axis = 1)
df = df.rename({0: 'label', 1: 'text'}, axis = 1)

In [11]:
df.head()

   label                                               text
0      1  Unfortunately, the frustration of being Dr. Go...
1      2  Been going to Dr. Goldberg for over 10 years. ...
2      1  I don't know what Dr. Goldberg was like before...
3      1  I'm writing this review to give you a heads up...
4      2  All the food is great here. But the best thing...

In [13]:
my_stop_words = set(stopwords.words('english'))

In [21]:
len_train = int(10/100*len(df["text"]))
train_sentences = df['text'][:len_train]

In [23]:
X = pd.DataFrame(train_sentences)
X.head()

                                                text
0  Unfortunately, the frustration of being Dr. Go...
1  Been going to Dr. Goldberg for over 10 years. ...
2  I don't know what Dr. Goldberg was like before...
3  I'm writing this review to give you a heads up...
4  All the food is great here. But the best thing...

In [ ]:
# concatenate all the reviews into one single string 
full_text = ' '.join(X['text'])
cloud_no_stopword = WordCloud(background_color='black', stopwords=my_stop_words).generate(full_text)
plt.imshow(cloud_no_stopword, interpolation='bilinear')
plt.axis('off')
plt.show()