In [125]:
import pandas as pd
import numpy as np
from wordcloud import WordCloud
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
import glob
import os

In [90]:
# path = '/Users/marikhomeriki/code/marikhomeriki/product_review_analysis/raw_data/restaurant_data' # use your path
# joined_files = os.path.join(path, "data_breakfast_club*.csv")

In [91]:
# df = pd.concat(
#     map(pd.read_csv, ['data_breakfast_club.csv', 'data_dishoom.csv', 'duck-and-waffle-london.csv', 'flat-iron-london-2.csv', 'mother-mash-london.csv']), ignore_index=True)
# print(df)

In [147]:
df = pd.read_csv('/Users/marikhomeriki/code/marikhomeriki/product_review_analysis/raw_data/restaurant_data/data_dishoom.csv', header = None)
# df_test = pd.read_csv('/Users/marikhomeriki/code/marikhomeriki/product_review_analysis/raw_data/test_data/test.csv', header=None)
# df_test = df.rename({0: 'label', 1: 'text'}, axis = 1)
df = df.rename({0: 'label', 1: 'text'}, axis = 1)

In [148]:
df = df['text']

In [149]:
df = pd.DataFrame(df)

In [150]:
df.head()

                                                text
0                                             Review
1  Hundreds of happy customers come through every...
2  We came for breakfast on a Monday so we were a...
3  Have been wanting to go to Dishoom for years a...
4  The best Indian food in London!This is my 3rd ...

In [151]:
from nltk.corpus import stopwords 
import string
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import word_tokenize 

def clean (text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, ' ') # Remove Punctuation
    lowercased = text.lower() # Lower Case
    tokenized = word_tokenize(lowercased) # Tokenize
    words_only = [word for word in tokenized if word.isalpha()] # Remove numbers
    stop_words = set(stopwords.words('english')) # Make stopword list
    without_stopwords = [word for word in words_only if not word in stop_words] # Remove Stop Words
    lemma=WordNetLemmatizer() # Initiate Lemmatizer
    lemmatized = [lemma.lemmatize(word) for word in without_stopwords] # Lemmatize
    return lemmatized

In [152]:
df_text = df.text

In [153]:
df_text = pd.DataFrame(df_text)

In [154]:
df_text

                                                  text
0                                               Review
1    Hundreds of happy customers come through every...
2    We came for breakfast on a Monday so we were a...
3    Have been wanting to go to Dishoom for years a...
4    The best Indian food in London!This is my 3rd ...
..                                                 ...
496  We waited 51 minutes, but was quoted 1 hour 10...
497  Had a fantastic experience at Dishoom Covent G...
498  I tried to go for Dishoom for dinner one night...
499  The lamp chops are awesome. It's tender, a bit...
500  Delicious mattar paneer and garlic naan. So go...

[501 rows x 1 columns]

In [155]:
len_train = int(10/100*len(df_text['text']))
df_text = df_text['text']
df_text = df_text[:len_train]

In [156]:
df_text = pd.DataFrame(df_text)

In [157]:
df_text['clean_text'] = df_text.text.apply(clean)
df_text['clean_text'] = df_text['clean_text'].astype('str')

In [158]:
df_text

,text,clean_text
0,Review,['review']
1,Hundreds of happy customers come through every...,"['hundred', 'happy', 'customer', 'come', 'ever..."
2,We came for breakfast on a Monday so we were a...,"['came', 'breakfast', 'monday', 'able', 'bypas..."
3,Have been wanting to go to Dishoom for years a...,"['wanting', 'go', 'dishoom', 'year', 'glad', '..."
4,The best Indian food in London!This is my 3rd ...,"['best', 'indian', 'food', 'london', 'visit', ..."
5,I'm sure there's not much more I could say bec...,"['sure', 'much', 'could', 'say', 'dishoom', 'f..."
6,4.5/5 stars As someone who isn't well versed i...,"['star', 'someone', 'well', 'versed', 'indian'..."
7,Food 5/5Ambiance 5/5Service 5/5You'll likely h...,"['food', 'likely', 'wait', 'anywhere', 'minute..."
8,It is a chain restaurant but nothing about it ...,"['chain', 'restaurant', 'nothing', 'lack', 'qu..."
9,Wow wow wow.. A very memorable experience and ...,"['wow', 'wow', 'wow', 'memorable', 'experience..."
10,Came here for an early lunch when passing thro...,"['came', 'early', 'lunch', 'passing', 'uk', 'b..."
11,This was a stop during our first trip to Londo...,"['stop', 'first', 'trip', 'london', 'food', 'w..."
12,The food was sooo amazing I forgot to take pic...,"['food', 'sooo', 'amazing', 'forgot', 'take', ..."
13,The line is always so long here--so get here e...,"['line', 'always', 'long', 'get', 'early', 'go..."
14,I had to come back to Dishoom. The wait was ab...,"['come', 'back', 'dishoom', 'wait', 'kind', 'h..."
15,"On a visit to London, we stopped by Dishoom as...","['visit', 'london', 'stopped', 'dishoom', 'hig..."
16,Dishoom !!! Yes the wait is worth it. We love ...,"['dishoom', 'yes', 'wait', 'worth', 'love', 'e..."
17,Finally tried the famous Dishoom on a recent t...,"['finally', 'tried', 'famous', 'dishoom', 'rec..."
18,Heard many raving reviews about this place and...,"['heard', 'many', 'raving', 'review', 'place',..."
19,Allergy friendly restaurant - They went above ...,"['allergy', 'friendly', 'restaurant', 'went', ..."
20,I was in London for 6 days and came twice to t...,"['london', 'day', 'came', 'twice', 'restaurant..."
21,Some of the best flavors I've ever had outside...,"['best', 'flavor', 'ever', 'outside', 'india',..."
22,Just fabulous from the setting to the instruct...,"['fabulous', 'setting', 'instructive', 'servic..."
23,Dishoom came highly recommended by a friend. I...,"['dishoom', 'came', 'highly', 'recommended', '..."
24,Came by for breakfast the other morning and it...,"['came', 'breakfast', 'morning', 'world', 'cla..."
25,**July 2022: Friday Afternoon Visit**My friend...,"['july', 'friday', 'afternoon', 'visit', 'frie..."
26,House chaat 8.65/10- sweet potato with the cri...,"['house', 'chaat', 'sweet', 'potato', 'crisp',..."
27,"WOW!!! If it is your final night in London, do...","['wow', 'final', 'night', 'london', 'leave', '..."
28,Indian Flavors From Bombay with Love is Dishoo...,"['indian', 'flavor', 'bombay', 'love', 'dishoo..."
29,Decided to come try out Dishoom while on a tri...,"['decided', 'come', 'try', 'dishoom', 'trip', ..."
30,"This Indian restaurant chain, is one of the be...","['indian', 'restaurant', 'chain', 'one', 'best..."
31,"THIS INDIAN FOOD, WOW!!I had 3 traveller frien...","['indian', 'food', 'wow', 'traveller', 'friend..."
32,We got to Soho and there was a long wait to ge...,"['got', 'soho', 'long', 'wait', 'get', 'restau..."
33,The line in Convent Garden at around 9 pm only...,"['line', 'convent', 'garden', 'around', 'pm', ..."
34,After having owned the cookbook from Dishoom f...,"['owned', 'cookbook', 'dishoom', 'really', 'ex..."
35,We went here with a friend and had a great tim...,"['went', 'friend', 'great', 'time', 'line', 'p..."
36,"When I was in London a month prior, I had been...","['london', 'month', 'prior', 'unable', 'get', ..."
37,Always the best food! I have always gone to Di...,"['always', 'best', 'food', 'always', 'gone', '..."
38,One of the best and most consistently great re...,"['one', 'best', 'consistently', 'great', 'rest..."
39,Dishoom is a London staple and one of the most...,"['dishoom', 'london', 'staple', 'one', 'must',..."
40,Been wanting to try out Dishoom for the longes...,"['wanting', 'try', 'dishoom', 'longest', 'time..."
41,finally got to try dishoom which had been the ...,"['finally', 'got', 'try', 'dishoom', 'top', 'l..."
42,Stopped by on a busy Friday evening - the wait...,"['stopped', 'busy', 'friday', 'evening', 'wait..."
43,"Fresh, bursting flavors. Service and atmospher...","['fresh', 'bursting', 'flavor', 'service', 'at..."
44,One of the best meals I had in London. I would...,"['one', 'best', 'meal', 'london', 'would', 'go..."
45,Nice restaurant but the food was a little unde...,"['nice', 'restaurant', 'food', 'little', 'unde..."
46,Definitely don't miss coming here when you com...,"['definitely', 'miss', 'coming', 'come', 'lond..."
47,Great indian fusion restaurant Not for the one...,"['great', 'indian', 'fusion', 'restaurant', 'o..."
48,My first time eating Indian food in over 14 ye...,"['first', 'time', 'eating', 'indian', 'food', ..."
49,this place changed my life. definitely go if u...,"['place', 'changed', 'life', 'definitely', 'go..."

In [164]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

data_vectorized = vectorizer.fit_transform(df_text['clean_text'])

lda_model = LatentDirichletAllocation(n_components=2)

lda_vectors = lda_model.fit_transform(data_vectorized)

In [165]:
def print_topics(model, vectorizer):
    for idx, topic in enumerate(model.components_):
        print("Topic %d:" % (idx))
        print([(vectorizer.get_feature_names_out()[i], topic[i])
                        for i in topic.argsort()[:-10 - 1:-1]])

In [166]:
print_topics(lda_model, vectorizer)

Topic 0:
[('chicken', 25.868909247962268), ('dish', 18.660490207588616), ('restaurant', 16.430469320987804), ('came', 13.056048037688248), ('garlic', 12.519085624891499), ('chai', 11.581295653428521), ('food', 11.136662210146952), ('naan', 11.00902149678948), ('house', 10.56391141870383), ('delicious', 10.551462791586054)]
Topic 1:
[('chicken', 39.13109075203666), ('food', 30.863337789851986), ('london', 26.44039870377664), ('dishoom', 25.093425945185526), ('naan', 21.990978503209465), ('restaurant', 19.569530679011134), ('dish', 19.339509792410322), ('get', 18.125798527706618), ('great', 16.64932426743048), ('back', 16.370794648904255)]